<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="font-style: normal;font-weight: normal;background-color: rgba(50,185,255,0);">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/admindash" style="width: 100px;height: 120px;padding-top: 50px;"><img src="/img/L.png" style="width: 90px;height: 80px;"></a>
        <ul class="nav navbar-nav text-light"
            id="accordionSidebar" style="margin-top: 5px;">
            <li class="nav-item" role="presentation" style="margin-top: 20px;"><a class="nav-link" href="/admindash"><i class="fas fa-bars"></i> <span style="font-size: 14px;font-weight: 400;">Dashboard</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/details"><i class="fas fa-info-circle"></i><span style="font-size: 14px;font-weight: 400;">Details Sheet</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/bills"><i class="fas fa-file-invoice"></i><span style="font-family: Roboto, sans-serif;font-size: 14px;">Bills</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/users"><i class="fas fa-user"></i><span style="font-size: 14px;font-family: Roboto, sans-serif; font-weight: 400;">User List</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/makeReport"><i class="fas fa-file-signature"></i><span style="font-size: 14px;font-family: Roboto, sans-serif; font-weight: 400;">Make Report</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/reports"><i class="fas fa-file-download"></i><span style="font-size: 14px;font-family: Roboto, sans-serif; font-weight: 400;">Report</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
