<%- include('partials/header') -%>
<body style="background-color: #f5fcff" id="page-top">
  <div class="login-clean" style="font-weight: normal">
    <form action="/password/change" method="POST" style="background-color: rgb(255, 255, 255); border-radius: 15px">
	  <%- include('partials/messages') -%>
      <h2 class="sr-only">Login Form</h2>
      <div class="illustration">
        <img src="/img/Mess.png" style="width: 100px; height: 100px" />
      </div>
      <div class="form-group">
        <label style="font-weight: bold">Current Password</label>
        <input
          type="password"
          class="form-control"
          name="oldpassword"
          style="border-radius: 10px"
        />
      </div>
      <div class="form-group">
        <label style="font-weight: bold">New Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          style="border-radius: 10px"
        />
      </div>
      <div class="form-group">
        <label style="font-weight: bold">Confirm New Password</label>
        <input
          type="password"
          class="form-control"
          name="confirmpassword"
          style="border-radius: 10px"
        />
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary btn-block"
          type="submit"
          style="
            background-color: rgb(50, 185, 255);
            font-family: Roboto, sans-serif;
            font-weight: semi-bold;
            border-radius: 10px;
          "
        >
          Update
        </button>
      </div>
    </form>
  </div>
</body>

<%- include('partials/footer') -%>
